{% extends "afterschool/base.html" %}
{% load staticfiles %}
{% block content %}
<div class='about'>
    <h1>About</h1>
    <div class="all-staff">
        <div class='staff'>
            <img class="profile" src="{% static 'images/default.png' %}">
            <h3>Kiko Sandoval</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam beatae sit quae itaque dicta quos qui distinctio minima quidem odio voluptatum sequi eaque animi incidunt, facilis ullam voluptas recusandae sint?</p>
        </div>
        <div class='staff'>
            <img class="profile" src="{% static 'images/default.png' %}">
            <h3>Isabel Aguirre</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam beatae sit quae itaque dicta quos qui distinctio minima quidem odio voluptatum sequi eaque animi incidunt, facilis ullam voluptas recusandae sint?</p>
        </div>
        <div class='staff'>
            <img class="profile" src="{% static 'images/default.png' %}">
            <h3>Adam Leary</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam beatae sit quae itaque dicta quos qui distinctio minima quidem odio voluptatum sequi eaque animi incidunt, facilis ullam voluptas recusandae sint?</p>
        </div>
        <div class='staff'>
            <img class="profile" src="{% static 'images/default.png' %}">
            <h3>Anthony Leary</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam beatae sit quae itaque dicta quos qui distinctio minima quidem odio voluptatum sequi eaque animi incidunt, facilis ullam voluptas recusandae sint?</p>
        </div>
    </div>
</div>
{% endblock %}